.App{
  font-family: "Arial Black", Gadget, sans-serif;
  position: fixed;
  
}
.by{
  width: 100px;
  height:100px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 20px;
  
  


  
}
#fr{
  height: 470px;
  width: 380px;
  

}
.ht{
  height: 200px;
  width: 400px;
  
}
.fr{
  margin-left: 30px;
  margin-top: 30px;
  height: 150px;
  width: 150px;
  position: fixed;
  
  
}
 h1{
   
  
  text-decoration:overline;
  

  
}
.im{

  width: 500px;
  height:300px;
  position: fixed;
}
