.App{
  font-family: "Arial Black", Gadget, sans-serif;
  @media (max-width: 480px) 
    display: none;
    position: relative;

  
}
.by{
  width: 100px;
  height:100px;
  border-radius: 20px;
  
  


  
}
#fr{
  height: 400px;
  width: 350px;
  

}
.ht{
  height: 200px;
  width: 400px;
  
}
.fr{
  margin-left: 30px;
  margin-top: 30px;
  height: 150px;
  width: 100px;
  
  
  
}
 h1{
   
  
  text-decoration:overline;
  font-size: 20px;
  

  
}
.im{

  width: 500px;
  height:300px;
  
}
